:root {
  --color-primary: #1f2937;
  --color-secondary: #404040;
  --color-white: #fff;
  --color-cyan-950: #083344;
  --color-cyan-900: #164e63;
  --color-cyan-800: #155e75;
  --color-gray-200: #e5e7eb;
}
