:root {
  --color-primary: #1f2937;
  --color-secondary: #4b5563;
  --color-white: #fff;
  --color-cyan-950: #083344;
  --color-cyan-900: #164e63;
  --color-cyan-800: #155e75;
  --color-gray-200: #e5e7eb;
  --color-gray-300: #d1d5db;
  --color-bg: #e5e7eb;
}
