.title {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.subtitle {
  display: flex;
  align-items: center;

  p {
    padding-left: 20px;
    font-size: var(--font-size-xs);
    color: var(--color-secondary);
  }
}

.line {
  width: 60px;
  height: 1px;
  background-color: var(--color-primary);
}

.title_h1 {
  font-size: var(--font-size-xxl);
  font-weight: var(--font-weight-semibold);
}
